<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Nearby
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="markCurrentPosition()">
        <ion-icon name="flag"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="!auth.isAuthenticated()">
    <button ion-button block color="primary" (click)="auth.login()">Login</button>
  </div>

  <!-- a card with your picture and name, plus a logout button -->
  <div *ngIf="auth.isAuthenticated()">
    <ion-card>
      <img [src]="auth.user.picture" />
      <ion-card-content>
        <ion-card-title>{{ auth.user.name }}</ion-card-title>
      </ion-card-content>
    </ion-card>
    <button ion-button block color="primary" (click)="auth.logout()">Logout</button>
  </div>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <div #map id="map"></div>
</ion-content>
